<html>
  <head><title></title>
  </head>
<body>
  <h2>Welcome to my Ansible managed website, <p>created by Jenkins and provided by Amazon.</p></h2> 
  <h4>The instance based on {{os_family}}.< </h4>
</body>
</html>
